body {
  background-color: blueviolet;
}

.App {
  display: grid;
  width: 98vw;
  height: 98vh;
  grid-template-areas:
    "playerside board board enemyside"
    "playerside board board enemyside"
    "playerside board board enemyside"
    "playerside board board enemyside"
    "playerside board board enemyside";
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.playerside {
  grid-area: playerside;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.board {
  grid-area: board;
}

.enemyside {
  grid-area: enemyside;
}
